.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

* {
    font-size: large;
}

select option {
    background-color: black;
    color: white;
    transition: background-color 0.2s ease-out, color 0.2s ease-out !important;
}

select option:hover {
    background-color: white !important;
    color: black !important;
    transform: scale(1.05);
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: white !important;
    color: black !important;
}

.iconos-informativos img {
    width: 50px;
    height: auto;
}

.boton-transparente.hover-activo,
.boton-transparente:active {
    background-color: black !important;
    color: white !important;
}

.boton-blanco.hover-activo,
.boton-blanco:active {
    background-color: black !important;
    color: white !important;
}

.boton-negro.hover-activo,
.boton-negro:active {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}

.card.hover-activo,
.card:active {
    transform: scale(1.05);
}


.formulario {
    width: 50%;
}

.offcanvas-body img {
    object-fit: cover;
    width: 90px;
    height: 90px;
}

.notificacion {
    z-index: 1100;
}

.card {
    width: 280px;
    transition: transform 0.20s ease-out !important;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.img-perfil {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.imagen-tienda {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.imagen-ropa {
    object-fit: cover;
    height: 25rem;
}

.empleados-fotos {
    object-fit: cover;
    border-radius: 100%;
    width: 170px;
    height: 170px;
}

.boton-blanco {
    background-color: white !important;
    color: black !important;
    border: 1px solid white !important;
    transition: background-color 0.2s ease-out, color 0.2s ease-out !important;
}

.boton-blanco:hover {
    background-color: black !important;
    color: white !important;
}

.boton-transparente {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    transition: background-color 0.2s ease-out, color 0.2s ease-out !important;
}

.btn-check:checked+.boton-transparente {
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
}

.nav-form {
    color: white !important;
    background-color: transparent !important;
}

.nav-form.active {
    color: black !important;
    background-color: white !important;
    border: none !;
}

.boton-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-negro img.hover-icon {
    display: none;
}

.boton-negro:hover img.default-icon {
    display: none;
}

.boton-negro:hover img.hover-icon {
    display: inline;
}

.boton-negro {
    background-color: black !important;
    color: white !important;
    transition: background-color 0.2s ease-out, color 0.2s ease-out !important;
}

.boton-negro:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}

.nav-img {
    width: 22px;
}

.perfil-menu {
    top: 100%;
    transform: translatex(48%);
}

@media (max-width: 1200px) {
    .vision-y-mision {
        width: 50% !important;
    }

    #info-sesion {
        width: 30vw !important;
    }


    .offcanvas-end {
        width: 60% !important;
    }
}

@media (max-width: 920px) {
    .nav-busqueda {
        height: 30px;
    }

    .nav-busqueda img {
        width: 90%;
    }
}

@media (max-width: 970px) {
    * {
        font-size: small;
    }


    .boton-carrito img {
        width: 20px;
    }

    .imagen-tienda {
        height: 620px;
    }

    #info-sesion {
        width: 30vw !important;
    }

    .imagen-ropa {
        object-fit: cover;
        height: 30rem;
    }

    .nav-img {
        width: 20px !important;
    }
}

@media (max-width: 767px) {
    .card {
        width: 150px;
    }

    .offcanvas-body img {
        width: 45px;
        height: 45px;
    }

    .imagen-ropa {
        object-fit: cover;
        height: 15rem;
    }

    #info-sesion {
        width: 40vw !important;
    }

    .img-perfil {
        width: 150px;
        height: 150px;
    }

    .imagen-tienda {
        height: 300px;
    }
}

@media (max-width: 600px) {
    .card a {
        max-height: 30px !important;
    }


    * {
        font-size: x-small;
    }

    .formulario {
        width: 70vw;
    }

    .detalles-producto {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .card a img {
        max-width: 20px;
        padding-bottom: 10px;
    }

    .img-perfil {
        width: 100px;
        height: 100px;
    }

    #info-sesion {
        width: 60vw !important;
    }

    .container-img-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iconos-informativos {
        max-width: 120px;
        width: 120px;
        height: auto;
    }

    .iconos-informativos p {
        padding-top: 20px;
    }

    .iconos-informativos img {
        width: 30px;
        height: auto;
    }

    .nosotros-titulo {
        margin-top: 40px !important;
        margin-bottom: 0px !important;
    }

    .perfiles-empleados {
        padding-top: 10px !important;
    }

    .empleados-fotos {
        margin: 0;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 354px) {
    .tamaño-fuente-perfil {
        font-size: 11px;
    }

    #info-sesion {
        width: 80vw !important;
    }
}