@media (max-width: 500px) {
    .iconos-informativos p {
        font-size: small;
        padding-top: 20px;
    }
    .iconos-informativos img {
        width: 10px;
        height: auto;
    }
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.iconos-informativos img {
    width: 50px;
    height: auto;
}

.card {
    transition: transform 0.20s ease-out;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
