/*p { 
    font-family: verdana;
    text-align: justify;
    color: red;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

body {
    background-color: lightblue;
}

h1 { 
    color: white;
    font-weight: bold;
    text-align: center;
}

.division {
    background-color: rgb(255, 255, 255);
}*/

/*Eliminamos los márgenes y paddings que agrega el navegador por defecto, en la actualidad
hay que probar esta funcionalidad */
* { 
    margin:0;
    padding:0;
}

body {
    background-color: #111111;
}

.titulo {
    color: aliceblue;
    background-color: #353839;
    margin: 20px;
}

.parrafo {
    color: white;
    padding-top:50px;
    padding-left: 10px;
    padding-bottom: 60px;
    padding-right: 300px;
} 

.menu {
    background-color: #353839;
    list-style: none;
    padding: 50px;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li {
    margin-inline: 10px;
    display: inline;
    list-style: none;
}

footer {
    background-color: #353839;
    padding: 10px 20px 30px 40px;
    margin: 10px 200px;
}