<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo 1</title>
    <link rel="stylesheet" href="<?= base_url('assets/css/miestilo.css') ?>">
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="https://google.com">Inicio</a></li>
            <li><a href="https://yahoo.com">Sobre nosotros</a></li>
            <li><a href="https://exa.unne.edu.ar/r/">Contacto</a></li>
        </ul>
    </nav>
    <div class="division">
        <h2 class="titulo"> Ejemplo de div y span </h2>
        <p class="parrafo">
         Esto es un párrafo dentro de un div,
        <span style="color: rgb(146, 139, 255);"> y esto un span dentro de un párrafo.</span>
        </p>
     </div>
</body>
</html>